/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.button
	{
		padding-left: 2em;
	}

	.bigbutton
	{
		padding-left: 1.75em;
	}

	ul.style3
	{
	}

		ul.style3 li
		{
			padding-left: 0;
		}

	ul.contact
	{
	}

		ul.contact li
		{
			padding-left: 0;
		}

	ul.style3 li {
	    border-top: 2px solid rgb(113, 96, 70);
	}

	#footer-wrapper ul.contact li
	{
		border-top: solid 2px #716046;
	}
	
	ul.contact li
	{
		border-top: solid 2px #e67d64;		
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#main-wrapper
	{
		padding: 0;
	}

	.homepage #main-wrapper
	{
		padding: 0 0 8em 0;
	}

	#footer-wrapper
	{
		background: url('../images/footer.jpg') bottom center no-repeat;
	}