/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	body
	{
		font-size: 9.75pt;
		min-width: 1000px;
	}

	.box
	{
		padding: 2em 1.5em 2em 1.5em;
	}

	.tabbable .box {
		padding: 0 0;
	}

	.box-cta
	{
	}

		.box-cta p
		{
			font-size: 1.5em;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		height: 130px;
		background-size: auto 500px;
	}

	.homepage #header-wrapper
	{
		height: 500px;
	}

	#banner-wrapper
	{
	}
	
	#main-wrapper
	{
		padding: 0 0 3.5em 0;
	}
	
	#footer-wrapper
	{
		padding: 3.5em 0 0 0;
	}

/*********************************************************************************/
/* Header                                                                        */
/*********************************************************************************/

	#header
	{
		top: 2em;
		height: 6em;
		line-height: 6em;
		padding-left: 2em;
	}
	
		#header h1
		{
			font-size: 2.5em;
		}

/*********************************************************************************/
/* Nav                                                                           */
/*********************************************************************************/

	#nav
	{
		position: absolute;
		right: 2em;
		top: 0;
	}

		#nav ul
		{
		}
		
			#nav ul li
			{
				margin-left: 0.5em;
				height: 6em;
				line-height: 6em;
			}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
		position: absolute;
		height: 315px;
		width: 1000px;
		top: 8em;
	}

		#banner .caption
		{
			bottom: 0em;
		}

			#banner .caption h2
			{
				font-size: 2.5em;
			}
			
			#banner .caption p
			{
				font-size: 1.35em;
			}

/*********************************************************************************/
/* Main                                                                          */
/*********************************************************************************/

	#main
	{
		margin-top: 2em;
	}

	.homepage #main
	{
		margin-top: -6em;
	}
		
/*********************************************************************************/
/* Content                                                                       */
/*********************************************************************************/

	#content
	{
	}
	
		#content .box
		{
			padding: 3em 2em 3em 2em;
		}