/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	*
	{
		-webkit-box-sizing: border-box;
		-moz-box-sizing: border-box;
		box-sizing: border-box;
	}

	body
	{
		background: #d5edf7;		
		/*color: #979797;*/color: #fff;
		font-family: 'Open Sans', sans-serif;
		font-size: 10pt;
		font-weight: 400;
		line-height: 1.5em;
	}
	
	a
	{
		color: #fff;
		text-decoration: none;
	}
	
	strong
	{
		font-weight: 700;
	}
	
	h1 a, h2 a, h3 a, h4 a, h5 a, h6 a
	{
		text-decoration: none;
		color: #fff;
	}
	
	h1, h2, h3, h4, h5, h6
	{
		font-weight: 700;
		color: #fff;
		text-transform: uppercase;
	}
	
	h1 span, h2 span, h3 span, h4 span, h5 span, h6 span
	{
		font-weight: 400;
	}
	
	h2
	{
		font-size: 1.5em;
		margin: 0 0 1.5em 0;
	}
	
	h3
	{
		font-size: 1em;
		margin: 0 0 1em 0;
	}
	
	a:hover
	{
		text-decoration: none;
	}

	form
	{
	}
	
		form input,
		form select,
		form textarea
		{
			-webkit-appearance: none;
		}
			
	br.clear
	{
		clear: both;
	}
	
	p, ul, ol, dl, table
	{
		margin-bottom: 2em;
	}
	
	section,
	article
	{
		margin-bottom: 2em;
	}
	
	section > :last-child,
	article > :last-child
	{
		margin-bottom: 0;
	}

	section:last-child,
	article:last-child
	{
		margin-bottom: 0;
	}

	.image
	{
		display: inline-block;
	}
	
		.image img
		{
			display: block;
			width: 100%;
			border-radius: 6px;
		}

		.image-full
		{
			display: block;
			width: 100%;
			margin: 0 0 2em 0;
		}
		
		.image-left
		{
			float: left;
			margin: 0em 2.5em 2.5em 0;
		}

	ul.style1
	{
		list-style: disc;
		padding-left: 1em;
	}
	
	ul.style2
	{
	}

		ul.style2 p
		{
			margin-bottom: 0;
		}

		ul.style2 li
		{
			border-top: solid 1px #343a3e;
			padding-top: 0.725em;
			margin-top: 0.725em;
		}

			.box-style1 ul.style2 li
			{
				border-top-color: #e67d64;
			}

			.box-style2 ul.style2 li
			{
				border-top-color: #5a8daa;
			}
		
		ul.style2 li:first-child
		{
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}

	ul.style3
	{
	}

		ul.style3 p
		{
			margin-bottom: 0;
		}

		ul.style3 li
		{
			position: relative;
			border-top: solid 1px #716046;
			padding: 1.5em 0 0 32px;
			margin-top: 1.5em;
		}

			ul.style3 li:before
			{
				content: '';
				position: absolute;
				background: url('images/icon24.png') -72px 0px no-repeat;
				width: 24px;
				height: 24px;
				left: -2px;
				top: 50%;
			}

		ul.style3 li:first-child
		{
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}

			ul.style3 li:first-child:before
			{
				top: 0;
			}

	ul.contact
	{
	}

		ul.contact p
		{
			margin-bottom: 0;
		}

		ul.contact li
		{
			position: relative;
			border-top: solid 1px #e67d64;
			padding: 1.25em 0 0 44px;
			margin-top: 1.25em;
		}
		#footer-wrapper ul.contact li
		{
			border-top: solid 1px #716046;
		}
		#footer-wrapper ul.contact li.home 
		{
			border-top: none;
		}

			ul.contact li:before
			{
				content: '';
				position: absolute;
				background: url('images/icon32.png') 0px 0px no-repeat;
				width: 32px;
				height: 32px;
				top: 50%;
				left: 0;
				margin-top: -0.5em;
			}

				ul.contact li.home:before
				{
					background-position: -32px 0px;
				}

				ul.contact li.phone:before
				{
					background-position: -64px 0px;
				}

				ul.contact li.mail:before
				{
					background-position: -96px 0px;
				}

				ul.contact li.speech:before
				{
					background-position: -128px 0px;
				}

		ul.contact li:first-child
		{
			border-top: 0;
			padding-top: 0;
			margin-top: 0;
		}

			ul.contact li:first-child:before
			{
				top: 0;
			}
	
	.timestamp
	{
		font-size: 0.8em;
		display: block;
		opacity: 0.5;
		margin: 0.25em 0 0 0;
	}
	
	.button
	{
		position: relative;
		display: inline-block;
		background: #5d3713;
		color: #fff;
		border-radius: 6px;
		box-shadow: inset 0px 0px 0px 1px #7f5530;
		padding: 1em 2em 1em 50px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1.05em;
		text-transform: uppercase;
		letter-spacing: -0.05em;
		transition: background-color .25s ease-in-out;
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
	}
	
		.button:hover
		{
			background: #55300c;
			box-shadow: inset 0px 0px 0px 1px #6c441f;
		}
	
		.button:before
		{
			content: '';
			display: block;
			width: 24px;
			height: 24px;
			background: url('images/icon24.png');
			position: absolute;
			left: 16px;
			top: 50%;
			margin-top: -12px;
		}

		.button-folder
		{
		}
		
			.button-speech:before
			{
				background-position: 0px 0px;
			}

		.button-folder
		{
		}
		
			.button-folder:before
			{
				background-position: -24px 0px;
			}
        .button-style3
        {
            background: #1e120a;
            background: rgba(30, 18, 10, 0.95);
        }

	.bigbutton
	{
		position: relative;
		display: inline-block;
		background: #272f33;
		color: #fff;
		border-radius: 6px;
		box-shadow: inset 0px 0px 0px 1px #343a3e;
		padding: 0.85em 1.75em 0.85em 60px;
		text-decoration: none;
		font-weight: 700;
		font-size: 1.5em;
		text-transform: uppercase;
		letter-spacing: -0.05em;
		transition: background-color .25s ease-in-out;
		-moz-transition: background-color .25s ease-in-out;
		-webkit-transition: background-color .25s ease-in-out;
	}
	
		.bigbutton:hover
		{
			background: #2f383d;
		}
	
		.bigbutton:before
		{
			content: '';
			display: block;
			width: 32px;
			height: 32px;
			background: url('images/icon32.png');
			position: absolute;
			left: 16px;
			top: 50%;
			margin-top: -16px;
		}

		.bigbutton-style1
		{
			background: #d55131;
			background: rgba(213, 81, 49, 0.95);
			box-shadow: inset 0px 0px 0px 1px #da6347;
		}
		
			.bigbutton-style1:hover
			{
				background: #cb371d;
			}

		.bigbutton-style2
		{
			background: #337297;
			background: rgba(51, 114, 151, 0.95);
			box-shadow: inset 0px 0px 0px 1px #6594af;
		}
		
			.bigbutton-style2:hover
			{
				background: #3077a1;
			}

	.box
	{
		background: #1e120a;
		background: rgba(30, 18, 10, 0.95);
		border-radius: 6px;
		padding: 3em 2em 3em 2em;
		overflow: hidden;
	}
	
		.box header
		{
			margin-bottom: 2em;
		}
		
			.box header h2
			{
				margin-bottom: 0.5em;
			}

		.box footer
		{
			clear: both;
		}

		.box section,
		.box article
		{
			border-bottom: solid 1px #343a3e;
			padding-bottom: 2em;
			margin-bottom: 2em;
		}

		.box section:last-of-type,
		.box article:last-of-type
		{
			border-bottom: 0;
			margin-bottom: 0;
			padding-bottom: 0;
		}

		.box-style1
		{
			background: #e05433;
			background: rgba(224, 84, 51, 0.95);
			box-shadow: inset 0px 0px 0px 1px #ff8b63;
			color: #f5d7d9;
		}

		.box-style2
		{
			background: #7a685a;
			background: rgba(122, 104, 90, 0.95);			
			/*box-shadow: inset 0px 0px 0px 1px #6594af;*/
			color: #fff;
			padding: 0;
			
		}
			.box-style2 .tab-content
			{
				margin-top: 0;
			}					
			.box-style2 .tab-pane
			{
				min-height: 326px;
			}

		.box-main
		{
		}

			.box-main h2
			{
			}

		.box-cta
		{
		}
		
			.box-cta p
			{
				color: #c9c9c9;
			}
			
		.box-features
		{
		}

			.box-features .button
			{
				margin-top: 2em;
			}

	#dlh_googlemap_1 
	{
		border-radius: 6px;
		-moz-border-radius: 6px;
		-webkit-border-radius: 6px;
	}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#header-wrapper
	{
		background: #7e6c41 url('../images/banner2.jpg') top center no-repeat;
	}
	
	#banner-wrapper
	{
	}
	
	#main-wrapper
	{
		
	}
	
	#footer-wrapper
	{
		background: rgba(10,10,10,0.6);

	}
	#wrapper {background: url('../images/main2.jpg') bottom center no-repeat fixed;}

/*********************************************************************************/
/* Banner                                                                        */
/*********************************************************************************/

	#banner
	{
	}

		#banner .caption
		{
		}
	
			#banner .caption h2
			{
				font-weight: 700;
				text-transform: uppercase;
				color: #fff;
			}
			
			#banner .caption p
			{
				color: #ddd;
				color: rgba(255,255,255,0.65);
			}
	
/*********************************************************************************/
/* Copyright                                                                     */
/*********************************************************************************/

	#copyright
	{
		text-align: center;
		border-top: solid 1px #1e272b;
		color: #272f33;
	}

/*********************************************************************************/
/* Table                                                                     		 */
/*********************************************************************************/
	
	table 
	{
		width: 100%;
	}

	tr
	{
		border-bottom: 1px solid #3d342e;
		line-height: 2em;
	}
	.league_ranking_preview tr 
	{
		border-bottom: 1px solid #897b70;
	}
	.league_ranking_preview td.ranking-preview_1
	{
		width: 90%;
	}
	.league_ranking_preview td.ranking-preview_2
	{
		width: 10%;
	}
	.ranking_other
	{
		text-align: center;
	}
	.ranking_player
	{
		text-align: left;
	}
	.league_ranking td
	{
		width: auto;
	}
	.ranking_header
	{
		/*background-color: rgba(53, 43, 35,0.9);*/
        font-weight: bolder;
	}
	tr.last 
	{
		border-bottom: none;
	}

	td
	{
		width: 33%;
	}

	.tournament_results table td
	{
		width: auto;
	}
	.tournament_results table td.rank
	{
		width: 5%;
	}
	.tournament_results table td.player
	{
		width: 20%;
	}
		.tournament_results table td.codplayer
	{
		width: 20%;
	}
		.tournament_results table td.club
	{
		width: 40%;
	}

/*********************************************************************************/
/* Gallery                                                                     	 */
/*********************************************************************************/

img.gallery_image
{
    border-radius: 4px;
}

	#mbImage img
	{
		width: 100%;
		height: 100%;
		border-radius: 6px;
		-moz-border-radius:6px;
		-webkit-border-radius:6px;
	}