/*********************************************************************************/
/* Basic                                                                         */
/*********************************************************************************/

	.button
	{
		padding-left: 2em;
	}

	.bigbutton
	{
		padding-left: 1.75em;
	}

	ul.style3
	{
	}

		ul.style3 li
		{
			padding-left: 0;
		}

	ul.contact
	{
	}

		ul.contact li
		{
			padding-left: 0;
		}

/*********************************************************************************/
/* Wrappers                                                                      */
/*********************************************************************************/

	#main-wrapper
	{
		padding: 0;
	}

	.homepage #main-wrapper
	{
		padding: 0 0 8em 0;
	}